{% extends 'base.html' %}

{% block body %}


            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        {{usersd.fname}}
                        <span class="text-primary">{{usersd.lname}}</span>
                    </h1>
                    <div class="subheading mb-5">
                       {{usersd.address}} · {{usersd.phone}} ·
                        <a href="mailto:{{usersd.email}}">{{usersd.email}}</a>
                    </div>
                    <p class="lead mb-5">
                    {{usersd.about}}
                     </p>
                    <div class="social-icons">
                    {% for social in socials %}
                       <a class="social-icon" href="{{social.urls}}"><i class="fab {{social.icon_name}}"></i></a>
                    {% endfor %}
                        
                    </div>
                </div>
            </section>


            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>

                    {% for exp in exprience %}

                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">{{exp.job_title}}</h3>
                                <div class="subheading mb-3">{{exp.company_name}}</div>
                                <p>{{exp.description}}</p>
                            </div>
                            <div class="flex-shrink-0"><span class="text-primary">{{exp.start_date|date:'M Y'}} - 
                            {% if exp.present_time != '' %}
                                   {{exp.present_time}}
                            {% else %}
                                 {{exp.end_date|date:'M Y'}}
                            {% endif %}
                           
                            
                            </span></div>
                        </div>

                    {% endfor %}

                </div>
            </section>

            <hr class="m-0" />


            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    {% for edu in education %}
                    
                     <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{edu.inc_name}}</h3>
                            <div class="subheading mb-3">{{edu.degree}}</div>
                            <div>{{edu.group}}</div>
                            <p>GPA: 
                            {% if edu.results %}
                             {{edu.results}}
                            {% else %}
                                Running
                            {% endif %}
                           </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{{edu.start_yer|date:'M Y'}} -
                        
                            {% if edu.results %}
                            {{edu.end_yer|date:'M Y'}}
                            {% else %}
                                Running
                            {% endif %}
                         </span></div>
                    </div>
                    
                    {% endfor %}
            
                    
                </div>
            </section>
            <hr class="m-0" />


            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        {% for sk in skill %}
                            <li class="list-inline-item"><i class="fab fa-{{sk.icon_name}}"></i></li>
                        {% endfor %}
                        

                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />


            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
                    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
                </div>
            </section>
            <hr class="m-0" />


            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Google Analytics Certified Developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Mobile Web Specialist - Google Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2
                            <sup>nd</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - James Buchanan High School - Hackathon 2006
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            3
                            <sup>rd</sup>
                            Place - James Buchanan High School - Hackathon 2005
                        </li>
                    </ul>
                </div>
            </section>
      


{% endblock body %}